/* Title Image */
.title-image {
    transform: rotate(-5deg);
    position: relative;
      }

      body {
        font-family: "Montserrat", sans-serif;
        text-align: left;
        background-color: rgb(204, 135, 250);
        margin-left: 20px;
      }

      h2{
        text-align: left;
      }

      a{
        color:blue;
      }